In [13]:
import pymysql
import pandas as pd
import numpy as np

def get_data():
    db = pymysql.connect("localhost", "root", "", "good")
    cursor = db.cursor()
    sql = '''
    select * from ims_ewei_shop_goods
    '''
    
    sql_c = '''
    select COLUMN_NAME from information_schema.COLUMNS where table_name = 'ims_ewei_shop_goods' and TABLE_SCHEMA = 'good'
    '''
    
    cursor.execute(sql)
    data = cursor.fetchall()
    
    cursor.execute(sql_c)
    col_data = cursor.fetchall()
    
    columns_list = [j[0] for j in col_data]
    data_list = [i for i in data]
    
    cursor.close()
    return data_list, columns_list

In [15]:
df_data, df_col = get_data()
df = pd.DataFrame(df_data, columns=df_col)
df.head()

,id,uniacid,pcate,ccate,type,status,displayorder,title,thumb,unit,...,verifygoodslimitdate,minliveprice,maxliveprice,dowpayment,tempid,isstoreprice,beforehours,verifygoodstype,isforceverifystore,manydeduct2
0,200,5,1174,0,1,1,0,基因宝,images/5/2019/07/LL6WTByZKPtlpkU3wptRB560Z4l37...,,...,0,0.00,0.00,0.00,0,0,0,0,0,0
1,201,5,1174,0,1,1,0,祈福宝,images/5/2019/07/ZorFjgheeAA3f8GohB21GaRrBE2gA...,,...,0,0.00,0.00,0.00,0,0,0,0,0,0
2,202,5,1174,0,1,1,0,能量宝,images/5/2019/07/S66csBcGS56dpHIcDCd6RfsSCC6fP...,,...,0,0.00,0.00,0.00,0,0,0,0,0,0
3,203,5,1174,0,1,1,0,风水宝,images/5/2019/07/fRz76pF819Owb9w9ZzR98uoB81Zr8...,,...,0,0.00,0.00,0.00,0,0,0,0,0,0
4,204,5,1174,0,1,1,0,私人定制基因防伪,images/5/2019/07/XfvA58fF6FV5f6obF0fCT5i5iF63F...,,...,0,0.00,0.00,0.00,0,0,0,0,0,0

In [28]:
df.iloc[:5, 55:57]

  share_icon  cash
0                0
1                0
2                0
3                0
4                0

In [35]:
'''
share_icon	cash
'''
df[df.title == '哈密瓜约2.0kg/份'].loc[:, 'share_icon']

94
Name: share_icon, dtype: object

In [82]:
from sql.sql_model import SqlModel

sm = SqlModel(db_name='good', user_name='root', password='')
sql1 = '''
select * from ims_ewei_shop_goods where id = 1525
'''
sql2 = '''
select * from ims_ewei_shop_goods2 
'''
col_sql = '''
select COLUMN_NAME from information_schema.COLUMNS where table_name = 'ims_ewei_shop_goods' and TABLE_SCHEMA = 'good'
'''

In [83]:
data1 = sm.select_data(sql1)
data2 = sm.select_data(sql2)
col_data = sm.select_data(col_sql)
col_lst = [k[0] for k in col_data]

before_data = np.mat([i for i in data1]).T
after_data = np.mat([j for j in data2]).T
com_data = np.c_[before_data, after_data]
df_com_data = pd.DataFrame(com_data, index=col_lst,  columns=['before', 'after'])
df_com_data.head()

        before after
id        1525  1525
uniacid      7     7
pcate     1197  1197
ccate        0     0
type         1     1

In [84]:
df_com_data['is_equal'] = df_com_data['before'] == df_com_data['after']
df_com_data[df_com_data['is_equal'] == False]

                    before after  is_equal
pcates                      1197     False
cates                       1197     False
allcates              None  None     False
diyfields             None  None     False
officthumb            None  None     False
catesinit3            None  None     False
buyagain_commission   None  None     False

In [86]:
df_com_data['before'].isin([1197])

id                      False
uniacid                 False
pcate                    True
ccate                   False
type                    False
status                  False
displayorder            False
title                   False
thumb                   False
unit                    False
description             False
content                 False
goodssn                 False
productsn               False
productprice            False
marketprice             False
costprice               False
originalprice           False
total                   False
totalcnf                False
sales                   False
salesreal               False
spec                    False
createtime              False
weight                  False
credit                  False
maxbuy                  False
usermaxbuy              False
hasoption               False
dispatch                False
                        ...
presellsendtime         False
edareas_code            False
unite_total             False
buyagain_price          False
threen                  False
intervalfloor           False
intervalprice           False
isfullback              False
isstatustime            False
statustimestart         False
statustimeend           False
nosearch                False
showsales               False
islive                  False
liveprice               False
opencard                False
cardid                  False
verifygoodsnum          False
verifygoodsdays         False
verifygoodslimittype    False
verifygoodslimitdate    False
minliveprice            False
maxliveprice            False
dowpayment              False
tempid                  False
isstoreprice            False
beforehours             False
verifygoodstype         False
isforceverifystore      False
manydeduct2             False
Name: before, Length: 210, dtype: bool

In [80]:
df_com_data[df_com_data['before'].isin([1197])]
# df_com_data

      before after  is_equal
pcate   1197  1197      True

In [81]:
df_com_data[df_com_data['after'].isin([1197])]

      before after  is_equal
pcate   1197  1197      True

In [87]:
df_com_data.before

id                                                        1525
uniacid                                                      7
pcate                                                     1197
ccate                                                        0
type                                                         1
status                                                       1
displayorder                                                 0
title                                               蜜瓜约1.0kg/份
thumb                   images/7/2019/09/5684efaeN12fa8ae1.jpg
unit
description
content
goodssn
productsn
productprice                                              0.00
marketprice                                              35.00
costprice                                                 0.00
originalprice                                             0.00
total                                                     1000
totalcnf                                                     0
sales                                                        0
salesreal                                                    0
spec
createtime                                          1576254445
weight                                                    0.00
credit
maxbuy                                                       0
usermaxbuy                                                   0
hasoption                                                    0
dispatch                                                     0
                                         ...
presellsendtime                                              0
edareas_code
unite_total                                                  0
buyagain_price                                            0.00
threen
intervalfloor                                                0
intervalprice
isfullback                                                   0
isstatustime                                                 0
statustimestart                                     1576254360
statustimeend                                       1578932760
nosearch                                                     0
showsales                                                    1
islive                                                       0
liveprice                                                 0.00
opencard                                                     0
cardid
verifygoodsnum                                               1
verifygoodsdays                                              1
verifygoodslimittype                                         0
verifygoodslimitdate                                         0
minliveprice                                              0.00
maxliveprice                                              0.00
dowpayment                                                0.00
tempid                                                       0
isstoreprice                                                 0
beforehours                                                  0
verifygoodstype                                              0
isforceverifystore                                           0
manydeduct2                                                  0
Name: before, Length: 210, dtype: object

In [107]:
df_com_data.before.head()
type(df_com_data.before)

pandas.core.series.Series

In [108]:
ms = pd.DataFrame([[1, 2], [3, 4]])
ms

   0  1
0  1  2
1  3  4

In [121]:
del ms[1]

In [123]:
ms[2] = 1

In [125]:
ms.pop(2)

0    1
1    1
Name: 2, dtype: int64

In [127]:
ms[2:3] = 1

In [138]:
ms

   0  2
0  1  2
1  3  2